<div class="text-center">
  <h1>
    Do not have time to maintain your public repository?
  </h1>
  <h3>Gift your repository to some other developer to maintain.</h3>
  <br />
  <br />
  <%= render "devise/shared/links" %>
  <br />
  <br />
  <hr />
  <h1>How it Works</h1>
  <br />
    <div class="how-it-work">
        <span class="glyphicon glyphicon-plus"></span>
      <p>Add a repository you wish to add</p>
    </div>
  <br />
    <div class="how-it-work">
        <span class="glyphicon glyphicon-user"></span>
      <p>Users apply for the repository who wish to maintain.</p>
    </div>
  <br />
    <div class="how-it-work">
        <span class="glyphicon glyphicon-check"></span>
      <p>review the applicant's profile on github and approve the applicant.</p>
    </div>
  <br />
    <div class="how-it-work">
        <span class="glyphicon glyphicon-save"></span>
      <p>Applicant forks the reposirory.</p>
    </div>
  <br />

  <div class="how-it-work">
    <span class="glyphicon glyphicon-edit"></span>
  <p>Update Your Readme with new github repository path.</p>
  </div>
  <br />
  <hr />
  <br />
</div>
